{
  "presets": [
    "@babel/preset-typescript",
    ["@babel/preset-env",
      {
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-optional-chaining",
    ["@babel/plugin-proposal-pipeline-operator", 
      { 
        "proposal": "minimal" 
      }
    ]
  ]
}
